.form-send-tweet{
  background-color: #fff;
  border: 2px solid #00acee;
  padding: 20px;
  width: auto;
  outline: none;
  outline: none;
  
  &__title{
    margin: 0;
    outline: none;
  }

  &__form{
    .MuiformControl-root{
      width: 100%;
    }

    &-name {
      width: 50%;
    }

    &-textarea {
      width: 100%;
    }
  }
}